.footer {
   width: 100%;
   background-color: $dark-color;
   color: $footer-text-color;
   display: flex;
   justify-content: center;

   &__container {
      display: block;
      width: 80%; //  set brpoint max-width: 684px;
      text-align: center;
   }

   &__title {
      font-weight: bold;
      font-size: 14px;
      color: $footer-title-text-color;
      text-transform: uppercase;
      margin-top: 43px;

      @include tablet {
         font-size: 16px;
      }

   }

   &__text {
      max-width: 680px;
      display: block;
      margin: 11px auto 0;
      font-size: 12px;
      line-height: 20px;

      @include tablet {
         margin-top: 20px;
         font-size: 16px;
         line-height: 28px;
      }
   }

   &__text-added {
      display: none;

      @include tablet {
         display: inline;
      }
   }

   .messenger {
      display: flex;
      justify-content: center;
      margin: 25px 0 25px 0;

      &__rss-link {
         @include footer-messenger-links;
         border: 2px solid $rss-icon-color;
      }

      &__facebook-link {
         @include footer-messenger-links;
         border: 2px solid $facebook-icon-color;
      }

      &__twitter-link {
         @include footer-messenger-links;
         border: 2px solid $twitter-icon-color;
      }

      &__dribbble-link {
         @include footer-messenger-links;
         border: 2px solid $dribbble-icon-color;
      }

      &__pinterest-link {
         @include footer-messenger-links;
         border: 2px solid $pinterest-icon-color;
      }

      &__icon {
         height: 12px;

         &:first-child {
            height: 10px;
         }
      }
   }

   .contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 88%;
      margin: 0 auto 47px;

      &__address,
      &__tel,
      &__mail {
         color: $footer-text-color;
         font-size: 14px;
         line-height: 24px;
         text-decoration: none;

         @include tablet {
            font-size: 16px;
            line-height: 26px;
         }
      }

      &__address::after,
      &__tel::after {
         content: "/";
         padding: 0 8px;

      }
   }
}