#menu__toggle {
  display: none;

  &:checked ~ .menu {
    &__btn .span {
      transform: rotate(45deg);

      &::before {
        top: 0;
        transform: rotate(0);
      }

      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    &__box {
      height: max-content;
      visibility: visible;
    }
  }
}

.menu__btn {
  margin-left: calc(100% - 44px);
  margin-top: 23px;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-color;
  width: 44px;
  height: 37px;
  cursor: pointer;

  @media (min-width: 560px) {
    display: none;
  }

  & .span,
  .span::before,
  .span::after {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: $light-color;
    transition: 0.25s;
  }

  & .span::before {
    top: -4px;
  }

  & .span::after {
    top: 4px;
  }
}

.menu__box {
  visibility: hidden;
  display: block;
  float: right;
  width: 182px;
  height: 0px;
  list-style: none;
  background-color: $bg-colir;
  position: absolute;
  top: 37px;
  right: 0;

  @media (min-width: 560px) {
    width: 80%;
    height: 106px;
    float: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible;
    position: unset;
    background-color: transparent;
  }

  @include desktop {
    width: 68%;
    height: 118px;
  }
}

.menu__item {
  display: block;
  padding: 9px 14px;
  font-size: 11px;
  color: $text-color;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  @media (min-width: 560px) {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &_active {
    color: $active-color;
  }

  &:hover {
    background-color: $hover-bg-colir;

    @media (min-width: 560px) {
      background-color: transparent;
    }
  }
}
