.instagram {

   &__wrapper {
      margin: 0 auto;

      @include desktop {
         max-width: 1170px;
      }

      width: 80%;
   }

   @include tablet {
      background-color: $shots-bg-colir;
   }

   &__nav-menu {
      padding: 35px 0 0 0;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
   }

   &__nav-menu a {
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;
      color: $text-color;
      text-transform: uppercase;

      &:last-child {
         display: none;

         @include tablet {
            display: flex;
         }
      }
   }

   &__img-container {
      display: flex;
      padding-bottom: 42px;
      justify-content: space-between;
   }

   &__img {

      @include tablet {
         width: 32%;
      }

      display: none;

      &:first-child {
         display: block;
      }

      @media (min-width: 740px) {
         &:nth-child(2) {
            display: block;
         }
      }

      @include tablet {
         display: block;

         &:last-child {
            display: none;
         }
      }

      @include desktop {
         width: 24%;

         &:last-child {
            display: block;
         }
      }
   }
}