@import "variables.scss";
@import "mixins.scss";
@import "reset.scss";
@import "components/index.scss";



body {
   font-family: 'Roboto', sans-serif;
   color: $text-color;
}

.container {
   margin: 0 auto;
   // max-width: 1170px;
   width: 80%;
   position: relative;

   @include desktop {
      max-width: 1170px;
   }

}

.section-title {
   font-weight: bold;
   font-size: 30px;
   line-height: 28px;
   margin: 40px 0 75px;
}