$text-color: #4E4E4E;
$active-color: #57A4A4;
$secondary-color: #7C7C7C;
$dark-color: #000000;
$light-color: #FFFFFF;
$bg-colir: #F5F5F5;
$hover-bg-colir: #E5E5E5;
$shots-bg-colir: rgba(0, 0, 0, 0.03);
$footer-title-text-color: #FEFEFE;
$footer-text-color: #B9B9B9;
$rss-icon-color: #F8902E;
$facebook-icon-color: #39599F;
$twitter-icon-color: #45B0E3;
$dribbble-icon-color: #D97AB0;
$pinterest-icon-color: #CC212C;